.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.formWrapper{
  background: rgb(1, 10, 22);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #40f5d4;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}
.logo{
  height: 80px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn{
  background: #40f5d4;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover{
    background: #39b39c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewRoomBtn {
  color: #40f5d4;
  text-decoration: none;
  border-bottom: 1px solid #40f5d4;
  transition: all 0.3s ease-in-out;
}
.createNewRoomBtn:hover, footer a:hover{
    color: #39b39c;
    border-color: #39b39c;
}